.section {
    margin-bottom: 30px !important;
}

.tip {
    color: #3a87ad; /* Basicstrap CSS was messed up so override it */
}

@media (min-width: 1200px) {
    .collapse .pull-right{
        margin-right: 115px !important;
    }
}
